<ion-content>
    <section *ngIf="showError" class="errorSection">
        <p class="errorMessage">{{errorMessage}}</p>
        <p class="errorMessage" (click)="showError=false">x</p>
    </section>
    <main>
        <p style="color: lightgray;margin: 0px;">Early Access</p>
        <h3 class="FiraSans" style="margin: 0px;font-size:30px;transform: translateY(15px);">Welcome to</h3>
        <h1 class="FiraSans Logo" style="margin: 0px;font-size:110px;">Yyke!</h1>
        <form *ngIf="pageType == 'Login'" class="LoginForm" #loginForm="ngForm">
            <section class="InputHolder">
                <label>Email</label>
                <input class="CustomInput" type="text" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="johndoe@xyz.com" required name="email_" [(ngModel)]="email" #email_="ngModel">
                <!-- <div class="errorMsg" *ngIf="!email_?.valid && (email_?.dirty || email_?.touched)">
                    Invalid Email
                 </div> -->
            </section>
            <section class="InputHolder">
                <label>Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="password_" [(ngModel)]="password" #password_="ngModel">
                <!-- <div class="errorMsg" *ngIf="!password_?.valid && (password_?.dirty || password_?.touched)">
                    Invalid Password
                 </div> -->
            </section>

            <section class="InputHolder">
                <button *ngIf="!showLoading" class="LoginBtn" [disabled]="loginForm.invalid" (click)="login(loginForm)">Login</button>

                <div *ngIf="showLoading" class="LoginBtn">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
              

                <p class="ForgotPassword" (click)="forgotPassword()">Get help logging in.</p>
                <p class="CreateAccount" (click)="openCreateAccount()"><span style="font-size: 12px;color: grey;">Dont have an account?</span> Create Account</p>
            </section>
        </form>

        <form *ngIf="pageType == 'Register'" class="LoginForm" #registerForm="ngForm">
            <section class="InputHolder">
                <label>Email</label>
                <input class="CustomInput" type="text" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="johndoe@xyz.com" required name="newEmail_" [(ngModel)]="newEmail" #newEmail_="ngModel">
            </section>
            <section class="InputHolder">
                <label>New Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="newPassword_" [(ngModel)]="newPassword" #newPassword_="ngModel">
            </section>
            <section class="InputHolder">
                <label>Confirm Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="confirmPassword_" [(ngModel)]="confirmPassword" #confirmPassword_="ngModel">
            </section>

            <section class="InputHolder">
                <button *ngIf="!showLoading" class="LoginBtn" [disabled]="registerForm.invalid" (click)="login(loginForm)">Create Account</button>
                <div *ngIf="showLoading" class="LoginBtn">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
                <p style="margin-top: 10px;" class="CreateAccount" (click)="openLogin()"><span style="font-size: 12px;color: grey;">Already have an account?</span> Login</p>
            </section>
        </form>
    </main>


</ion-content>