<ion-content>
    <main>
        <p style="position: absolute;top: 0;right: 0;margin: 10px;color: lightgray;">Early Access</p>
        <!-- <img src="https://fontmeme.com/permalink/220613/24e56598c43b19507834a1ea0f864e10.png" alt=""> -->
        <img src="https://wallpapercrafter.com/th800/113164-anime-Naruto-Shippuuden-eyes-minimalism-simple-background-white-background-white-red-purple.png" alt="">
        <img class="LoginImg" src="https://cdn.wallpapersafari.com/30/20/HpMvn6.jpg" alt="">
        <form *ngIf="pageType == 'Login'" class="LoginForm" #loginForm="ngForm">
            <section class="InputHolder">
                <label>Email</label>
                <input class="CustomInput" type="text" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="johndoe@xyz.com" required name="email_" [(ngModel)]="email" #email_="ngModel">
                <!-- <div class="errorMsg" *ngIf="!email_?.valid && (email_?.dirty || email_?.touched)">
                    Invalid Email
                 </div> -->
            </section>
            <section class="InputHolder">
                <label>Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="password_" [(ngModel)]="password" #password_="ngModel">
                <!-- <div class="errorMsg" *ngIf="!password_?.valid && (password_?.dirty || password_?.touched)">
                    Invalid Password
                 </div> -->
            </section>

            <section class="InputHolder">
                <button class="LoginBtn" [disabled]="loginForm.invalid" (click)="login(loginForm)">Login</button>
                <p class="ForgotPassword">Get help logging in.</p>
                <p class="CreateAccount" (click)="openCreateAccount()"><span style="font-size: 12px;color: grey;">New Otaku?</span> Create Account</p>
            </section>
        </form>

        <form *ngIf="pageType == 'Register'" class="LoginForm" #registerForm="ngForm">
            <section class="InputHolder">
                <label>Email</label>
                <input class="CustomInput" type="text" pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$" placeholder="johndoe@xyz.com" required name="newEmail_" [(ngModel)]="newEmail" #newEmail_="ngModel">
            </section>
            <section class="InputHolder">
                <label>New Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="newPassword_" [(ngModel)]="newPassword" #newPassword_="ngModel">
            </section>
            <section class="InputHolder">
                <label>Confirm Password</label>
                <input class="CustomInput" type="password" required minlength="5" placeholder="*******" name="confirmPassword_" [(ngModel)]="confirmPassword" #confirmPassword_="ngModel">
            </section>

            <section class="InputHolder">
                <button class="LoginBtn" [disabled]="registerForm.invalid" (click)="login(loginForm)">Create Account</button>
                <p style="margin-top: 10px;" class="CreateAccount" (click)="openLogin()"><span style="font-size: 12px;color: grey;">Already have an account?</span> Login</p>
            </section>
        </form>
    </main>


</ion-content>