.errorMsg{
    color: red;
}

main{
    display: flex;
    // justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    gap: 30px;
    padding: 20px;
}

.LoginForm{
    display: flex;
    flex-direction: column;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    padding: 20px;
    border-radius: 20px;
    gap: 10px;
    width: 290px;
    backdrop-filter: blur(19px);
}
.InputHolder{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.CustomInput{
    border: none;
    height: 35px;
    padding: 5px;
    border-radius: 10px;
}

.CustomInput:focus{
    outline-color: #ffcdd2;
}

.LoginBtn{
    background: #1b1f23;
    color: white;
    height: 30px;
    border-radius: 10px;
}
button:focus{
    outline: none;
}
.LoginBtn:hover{
    background: linear-gradient(180deg,#464b4f,#1b1f23);
}

.LoginBtn[disabled]{
    background:#464b4f;
}

.ForgotPassword{
    margin: 0px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
    cursor: pointer;
}

.CreateAccount{
    margin: 0px;
    display: flex;
    align-items: baseline;
    gap: 5px;
    justify-content: center;
}

.CreateAccount:hover{
    color: #ffcdd2;
}

.LoginImg{
    width: 90%;
    position: absolute;
    z-index: -1;
    bottom: 0;
}

img{
    image-rendering:crisp-edges;
}