<!-- <ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>

  <main>

    <section style="margin-bottom: 20px;display: flex;justify-content: space-between;">
      <button>Feedback</button>
      <button>Logout</button>

    </section>

    <section class="topProfileHolder">
      <ion-avatar style="width: 100px;height:100px;">
        <img src="{{profileImage}}">
      </ion-avatar>
      <section>
        <h1>Hello, John Doe</h1>
        <p>Have a nice day!</p>
      </section>
     
    </section>

    <!-- <ion-searchbar class="searchBar"></ion-searchbar> -->


  </main>



</ion-content>
